<template>
  <div id="app">
    <img alt="meme" src="./assets/inziption.png" width="500" height="300">
  <h1> Awesome pdf to text converter </h1>
  <div class='container'> 
        <div> <h3> choose file to upload </h3> </div>
        <div>
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
        <div> <button :disabled="disableSubmit" v-on:click="submitFile()">Submit</button> </div>
        </div > 
        </div>
        <!-- For dubugging  -->
        <!-- <div> {{taskId}} </div> -->
        
        <div v-if="progress >= 0" class="progress-bar" > <progress  max="100" :value="progress"></progress> </div>
        <a :href="downloadUrl" v-if="downloadUrl.length !== 0"> download here </a>
          <div class="red" v-if="downloadUrl.length !== 0"> The download link will be expired in one day </div>
  </div>
</template>

<script>

import {client, BACKEND_URL, BACKEND_PORT} from './main'


export default {
  name: 'App',
  components: {
  },

  data() {
    return {
      file: '',
      taskId: '',
      progress: -1,
      downloadUrl: '',
      disableSubmit: false
    }
  },
  methods: {
      openSocketConnectionToId(id) {
        this.$connect(`ws://${BACKEND_URL}:${BACKEND_PORT}/ws/progress/${id}`, { format: 'json' })
        this.$options.sockets.onmessage = this.onRecievedMessage
      },
      closeSocketAtId(id) {
        this.$disconnect(`ws://${BACKEND_URL}:${BACKEND_PORT}/ws/progress/${id}`)
        this.disableSubmit = false
        delete this.$options.sockets.onmessage
      },
      getObject(){
        const fileResult = `${this.taskId}_converted_${this.file.name}`
        client.presignedGetObject('uploads', fileResult, 24*60*60, (e, presignedUrl) =>  {
        if (e) return console.log(e)
        this.downloadUrl= presignedUrl
})
        

      },

      onRecievedMessage(data) {
        var jsonData = JSON.parse(data.data)
        this.progress = jsonData.progress
        if (this.progress === 100) {
          this.closeSocketAtId(this.taskId)
          this.getObject()
        } 


      },
     submitFile() {
      this.progress = 1
       client.presignedPutObject('uploads', this.file.name, async (err, url) => {
        if (err) throw err
      try {
      this.disableSubmit = true   
      await  fetch(url, {
            method: 'PUT',
            body: this.file})
       var respo = await fetch(`http://${BACKEND_URL}:${BACKEND_PORT}/instantiate/${this.file.name}`)
      var  jsonRespo = await respo.json() 
       this.taskId = jsonRespo.groupId
       this.openSocketConnectionToId(this.taskId);
           

      }catch (err) {
        console.log(err)
      }
       
     })},
     handleFileUpload() {

                this.file = this.$refs.file.files[0];
                console.log(this.file)
            },
        

  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


.progress-bar {
  margin: 100px 100px 30px 100px !important
}
.red {
  color: red;
}
</style>
